<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILibrary" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4505/BookNS/Library" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILibrary" contract="ServiceReference1.ILibrary"
                name="BasicHttpBinding_ILibrary" />
        </client>
    </system.serviceModel>
</configuration>